.App {
  text-align: center;
  padding: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.question {
    padding: 4em;
    height: 80%;
}

#quanda {
  padding: 30px;
  right : 100;
  position: relative;
  right: 100px; 
  z-index: 100;
}

.answer {
  top: 400px;
}

#submit {
  padding: 30px;
}

.center-div
{
  margin: 0 auto;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
